<h1>Naruto SHIPPUDDEN</h1>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th>caracteristique</th>
  </tr>
  <tr>
    <td><img src="{{data.img}}" width="100px" /></td>
    <td>{{data.Nom}}</td>
    <td>{{data.caracteristics}}</td>
  </tr>
</table>
<br>
<div>
  <h1 *ngIf="authService.user | async">
    Welcome User: {{(authService.user | async)?.email}}!
  </h1>


  <div *ngIf="!(authService.user | async) && !isLoggedin">
    <input type="text" [(ngModel)]="email" placeholder="Enter email"/>
    <input type="password" [(ngModel)]="password" placeholder="Enter password"/>

    <button (click)="signUp()" [disabled]="!email || !password">
      SignUp
    </button>

    <button (click)="signIn()" [disabled]="!email || !password">
      SignIn
    </button>
  </div>
</div>

<button (click)="logOut()" *ngIf="(authService.user | async) && !isLoggedin">
  LogOut
</button>
<div class="container" style="max-width: 550px" *ngIf="!(authService.user | async)">
  <h2 class="text-center mb-5">Angular Login with Google</h2>

  <div *ngIf="isLoggedin === false">
    <div>
      <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Login with Google</button>
    </div>
  </div>

  <div *ngIf="isLoggedin === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
    </div>

    <button type="button" (click)="logOut2()" class="btn btn-primary">Log Out</button>
  </div>
</div>

<router-outlet></router-outlet>